.cart-product {
  width: 24%;
  // background-color: rgb(168, 168, 168);
  min-height: 250px;
  box-shadow: $Box-shadow1;
  border-radius: 20px;
  transition: transform 0.4s;
  padding: 10px;
  cursor: pointer;
  position: relative;

  .box-image {
    width: 100%;

    .image {
      display: block;
      padding: 20px;
    }
  }

  .content {
    .desc.name-product {
      @include desc-black;
      font-weight: 500;
      font-size: 1.8rem;
      margin-top: 10px;
    }

    .bottom {
      .box-price {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 8px;

        .desc {
          @include desc-black;
        }

        .new-price {
          color: $dark-pink;
        }

        .old-price {
          color: $dark-gray;
          text-decoration: line-through;
        }
      }
      .rating {
        margin-top: 10px;
        display: flex;
        gap: 20px;

        .box-icon {
          display: flex;
          gap: 3px;

          .icon {
            color: $dark-pink;
          }
        }

        .desc {
          @include desc-black;
          color: $dark-gray;
        }
      }
    }
  }

  .plane-above {
    position: absolute;
    width: 100%;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    top: 10px;
    left: 0;

    .discount {
      display: flex;
      padding: 4px 12px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: $dark-pink;
      border-radius: 4px;
      margin-left: 10px;
      height: 33px;

      @include desc-black;
      color: $white;
      font-weight: 500;
    }

    .box-icon {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .icon {
        font-size: 2.2rem;
        cursor: pointer;

        &:hover {
          color: $dark-pink;
        }
      }
    }
  }
}

@import "./responsiveCartProduct.scss";
