.product-details-page {
  margin-top: 50px;
  .product-details {
    display: flex;
    width: 100%;

    .desc {
      @include desc-black;
    }

    .box-images {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 68%;

      .list-images {
        width: 17%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        img {
          width: 80%;
        }
      }

      .image-default {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 80%;
        }
      }
    }

    .box-right {
      width: 32%;

      .info-product {
        border-bottom: 2px solid $dark-gray;
        padding-bottom: 20px;
        margin-bottom: 24px;

        .title-24 {
          @include title-24;
        }

        .box-icon {
          display: flex;
          gap: 4px;

          .icon {
            color: $dark-pink;
            margin: 16px 0;
          }
        }

        .box-price {
          display: flex;
          gap: 10px;
          margin-bottom: 24px;

          .new-price {
            color: $dark-pink;
          }

          .old-price {
            color: $dark-gray;
            text-decoration: line-through;
          }
        }
      }

      .box-options {
        .box-color {
          display: flex;
          align-items: center;
          gap: 10px;

          .color {
            padding: 3px 15px;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #ccc;

            &:hover {
              background-color: $dark-pink;
              color: $white;
              border: none;
            }
          }

          .color.active {
            background-color: $dark-pink;
            color: $white;
            border: none;
          }
        }

        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 24px;

          .box-quantity {
            width: 40%;
            display: flex;
            height: 45px;
            border-radius: 5px;
            border: 1px solid #ccc;

            .icon {
              width: 30%;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              &:hover {
                background-color: $dark-pink;
                color: $white;
              }

              &:first-child {
                border-radius: 5px 0 0 5px;
              }

              &:last-child {
                border-radius: 0 5px 5px 0;
              }
            }

            .quantity {
              width: 40%;
              display: flex;
              align-items: center;
              justify-content: center;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              font-size: 2rem;
              font-weight: 500;
            }
          }

          .btn-dark-pink {
            @include btn-dark-pink;
            height: 45px;
          }

          .icon-wishlist {
            height: 45px;
            width: 45px;
            border-radius: 5px;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.2rem;
            cursor: pointer;

            &:hover {
              background-color: $dark-pink;
              color: $white;
            }
          }
        }
      }
    }
  }
}
