@import "./logo.scss";
@import "./navBar.scss";
@import "./boxRight.scss";
@import "./navBarTabletMobile";
@import "./responsive_header";

.header {
  display: flex;
  margin-top: 30px;
  width: 100%;
  align-items: center;
}
